.MainNav {
  color: rgb(255, 255, 255);
  background-color: rgb(124, 133, 158);
	margin-top: 5px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-radius: 5%;
	border: 1px solid rgb(131, 116, 116);
}

.TagLine {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.0em;
	float: left;
	font-style: italic;
	margin-left: 15px;
}

.logo-home a{
	font-size: 2em;
  color: rgb(211, 220, 235);
	text-decoration: none;
	
}

.logo-home:hover a{
	font-size: 2em; 
	color: white;
	text-decoration: none;
	background-color: rgb(174, 174, 209); 
	border-radius: 15%;
 
}

.Center {
	text-align: center;
	text-decoration: none;
}

.Item {
  /* margin-right: 15px; */
  color: rgb(53, 38, 38);
	font-size: small;
	text-decoration: none;
	border-radius: 15%;
	border: 1px solid rgb(131, 116, 116);
}

.Item:hover{
	font-style: italic;
  background-color: rgb(200, 200, 228); 
  border-radius: 10%;
	text-decoration: none;
}

#BrandText:hover {
	font-style: italic;
  background-color: rgb(60, 60, 91); 
	border-radius: 10%;
}

#BrandText {
	color: rgb(27, 54, 54);
	font-size: 1.5em;
}
 
@keyframes Logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
 